<h2>Hello there!</h2>
<p>Welcome to www.how-angular.works.</p>
<br/>
<p>
  This website contains a guide to AngularJS, written 
  by a person who is relatively new to Angular. 
</p>
<br/>
<p>
  You may want to check out the official 
  <a href="https://angular.io/" target="_blank">Angular documentation</a>. 
  I wrote this website's content by reading those tutorials, and re-writing 
  the information I found most pertinant. 
</p>
<br/>

<p>
  This guide is much shorter than the official documentation, and is 
  written in my own narrative style. I also include Angular examples 
  right on this website. 
</p>