<h2>What is Angular?</h2>

<p>
  Angular is a framework for building single-page 
  client applications using HTML and Typescript.
</p>
<br/>
<p>
  The Angular framework is developed by Google, 
  and was initially released in 2016. 
</p>
<p>
  "Angular" is the successor to "AngularJS", Google's 
  framework from 2010. They are two different frameworks.
</p>
<br/><br/><br/><br/>
<h3>Installation</h3>
<p>
  You can install the Angular CLI with NPM, using...
</p>
<code>npm install -g @angular/cli</code>